.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 20px;
}

.loginLink {
  margin-top: 14px;

  font-size: 12px;
  line-height: 1.5;
  color: rgba(var(--dark-primary-rgb), 0.4);

  text-align: center;
}

@media screen and (min-width: 768px) {
  .form {
    max-width: 574px;
  }

  .inputsWrapper {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 14px;

    margin-bottom: 62px;
  }

  .loginLink {
    max-width: 280px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    margin-left: 54px;
  }
}
