.pageContainer {
  padding: 20px 20px 191px 20px;

  background: var(--bg-pill-mob) no-repeat top 107px right 40px,
    var(--bg-element-mob) no-repeat bottom right;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.21;

  margin-top: 106px;
  margin-bottom: 20px;
}

.titleAccent {
  color: var(--accent-primary);
}

.loginLink {
  margin-top: 14px;

  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(var(--dark-primary), 0.4);
}

@media screen and (min-width: 768px) {
  .pageContainer {
    padding: 28px 122px 250px 32px;

    background: var(--bg-pill-tab) no-repeat top 136px right 141px,
      var(--bg-element-tab) no-repeat bottom right;
  }

  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.21;

    margin-top: 106px;
    margin-bottom: 20px;
  }

  .titleAccent {
    color: var(--accent-primary);
  }

  .loginLink {
    margin-top: 14px;

    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(var(--dark-primary), 0.4);
  }
}
