.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 128px;
    padding-right: 128px;

    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
