.main {
  padding-top: 121px;
  padding-bottom: 80px;
}

.thumb {
  border: 1.15px solid rgba(var(--accent-primary-rgb), 0.6);
  border-radius: 20px;

  max-width: 335px;
  height: 337px;

  margin-left: auto;
  margin-right: auto;

  overflow: hidden;

  margin-bottom: 8px;
}

.img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 20px;
}

.info {
  padding: 20px;

  border-radius: 20px;

  background-color: var(--light-secondary);
}

.namePrice {
  display: flex;
  justify-content: space-between;

  margin-bottom: 17px;

  font-weight: 600;
  line-height: 1.4;
}

.suppliers {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(var(--dark-primary-rgb), 0.6);
}

.btnDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  font-size: 12px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
