@import "modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* CSS variables */
:root {
  --light-primary: #f7f8fa;
  --light-primary-rgb: 247, 248, 250;
  --light-secondary: #ffffff;
  --light-tertiary: #fdfdfd;
  --light-quaternary: #f1f1f1;
  --light-quaternary-rgb: 241, 241, 241;

  --medium-primary: #93939a;
  --medium-secondary: #6a6a6f;

  --dark-primary: #1d1e21;
  --dark-primary-rgb: 29, 30, 33;
  --dark-secondary: #252539;

  --accent-primary: #59b17a;
  --accent-primary-rgb: 89, 177, 122;
  --accent-secondary: #ffc531;
  --accent-tertiary: #e85050;
  --accent-tertiary-rgb: 232, 80, 80;
  --accent-quaternary: #e7f1ed;
  --accent-quaternary-rgb: 231, 241, 237;

  --shadow: #474747;
  --shadow-rgb: 71, 71, 71;
  --shadow-avatar: #101828;
  --shadow-avatar-rgb: 16, 24, 40;

  /* Images */
  --bg-pill-mob: url("../assets/images/pill-bg-mob.png");
  --bg-pill-tab: url("../assets/images/pill-bg-tab.png");
  --bg-element-mob: url("../assets/images/element-bg-mob.png");
  --bg-element-tab: url("../assets/images/element-bg-tab.png");
  --bg-hero-mob: url("../assets/images/hero-bg-mob.png");
  --bg-hero-tab: url("../assets/images/hero-bg-tab.png");
  --bg-hero-desk: url("../assets/images/hero-bg-desk.png");
  --bg-element-card-mob: url("../assets/images/element-bg-card-mob.png");
  --bg-element-card-tab: url("../assets/images/element-bg-card-tab.png");
  --bg-element-card-desc: url("../assets/images/element-bg-card-desc.png");
  --bg-element-card-medicine-tab: url("../assets/images/element-bg-card-medicine-tab.png");
  --bg-element-card-medicine-desc: url("../assets/images/element-bg-card-medicine-desc.png");
  --bg-add-mob: url("../assets/images/add-bg-mob.png");
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  padding: 0;
  background-color: inherit;
  border: none;
  color: inherit;
  font: inherit;
}

button {
  padding: 0;
  color: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
  letter-spacing: inherit;
}

svg {
  display: block;
}
