.form {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .inputsWrapper {
    margin-bottom: 12px;
  }

  .nameWrapper {
    margin-top: 12px;
  }
}

.nameWrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 14px;
  right: 18px;
}

.selectWrapper {
  position: relative;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 44px;

  padding-left: 18px;
  padding-right: 18px;

  border: 1px solid rgba(var(--dark-primary-rgb), 0.1);
  border-radius: 60px;
  background-color: var(--light-secondary);

  font-size: 14px;
  line-height: 1.5;
  color: var(--dark-primary);
}

.placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(var(--dark-primary-rgb), 0.4);
}

.list {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;

  width: 100%;

  z-index: 1;

  border: 1px solid rgba(var(--dark-primary-rgb), 0.1);
  border-radius: 30px;
  background-color: var(--light-secondary);

  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 1.5;
  color: var(--dark-primary);
}

.item {
  padding: 3px 18px 3px 18px;
}

@media screen and (min-width: 768px) {
  .form {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 32px;
  }

  .inputsWrapper {
    display: flex;
    gap: 14px;
  }

  .select {
    width: 214px;

    border: 1px solid rgba(var(--dark-primary-rgb), 0.1);
    border-radius: 60px;
    background-color: var(--light-secondary);
  }

  .nameWrapper {
    width: 224px;
  }
}
