.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;

  max-width: 291px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

.subtitle {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--medium-primary);

  margin-bottom: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title {
    font-size: 40px;
    line-height: 1.2;

    max-width: 552px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 1.25;

    margin-bottom: 64px;
  }

  .list {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 32px 16px;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    gap: 38px 36px;
  }
}
