.input {
  width: 100%;
  height: 44px;

  padding-left: 18px;
  padding-bottom: 3px;

  border: 1px solid rgba(var(--dark-primary), 0.1);
  border-radius: 60px;
  background-color: var(--light-secondary);
}

.input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(var(--dark-primary), 0.4);
}
