.form {
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  margin-bottom: 14px;
}

.text {
  font-size: 14px;
  line-height: 1.29;
  color: var(--medium-secondary);

  max-width: 262px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 25px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 25px;
}

.btn {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(var(--dark-primary-rgb), 0.4);

  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 1.25;

    max-width: 280px;
  }

  .inputsWrapper {
    gap: 14px;
  }
}
