.logoBasic {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.03em;
}

.logoBasic.logoWhite {
  color: var(--light-secondary);
}

@media screen and (min-width: 768px) {
  .logoBasic {
    gap: 14px;
    font-size: 20px;
  }
}
