.burger {
  stroke: var(--accent-primary);

  width: 32px;
  height: 26px;
}

.burger.burgerLight {
  stroke: var(--light-secondary);
}

.cart {
  stroke: var(--accent-primary);
  fill: var(--light-secondary);

  width: 16px;
  height: 16px;
}

.close {
  stroke: var(--light-secondary);

  width: 32px;
  height: 32px;
}

.facebook,
.instagram,
.youtube {
  width: 28px;
  height: 28px;

  fill: var(--light-primary);
}

.map-pin {
  stroke: var(--accent-primary);
  fill: none;

  max-width: 18px;
  max-height: 18px;
}

.phone {
  stroke: var(--accent-primary);
  fill: none;

  width: 18px;
  height: 18px;
}

.star {
  stroke: var(--accent-secondary);
  fill: var(--accent-secondary);

  width: 16px;
  height: 16px;
}

.lightning {
  width: 20px;
  height: 20px;

  stroke: var(--accent-primary);
  fill: none;
}

.search {
  width: 16px;
  height: 16px;

  stroke: var(--dark-primary);
  fill: none;
}

.filter {
  width: 14px;
  height: 14px;

  stroke: var(--light-secondary);
  fill: none;
}

.arrow-down {
  width: 16px;
  height: 16px;

  stroke: var(--dark-primary);
  fill: none;
}

.pag-left,
.pag-right {
  width: 6px;
  height: 12px;
}

.pag-left.disable,
.pag-right.disable {
  fill: rgba(var(--dark-primary-rgb), 0.5);
}

@media screen and (min-width: 768px) {
  .pag-left,
  .pag-right {
    width: 8px;
    height: 14px;
  }
}
