.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  border: 1.15px solid var(--light-quaternary);
  border-radius: 27px;

  padding: 14px 18px;

  box-shadow: 0 -1px 14px 0 rgba(var(--dark-primary-rgb), 0.02);
  background-color: var(--light-tertiary);
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 14px;

  margin-bottom: 14px;
}

.number {
  width: 54px;
  height: 54px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
  background-color: rgba(var(--accent-quaternary-rgb), 0.4);

  font-size: 24px;
  line-height: 1;
  color: var(--accent-primary);
}

.name {
  font-weight: 500;
  line-height: 1.4;
  color: var(--dark-secondary);
}

.percenegeWrapper {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.percentage {
  font-weight: 500;
  font-size: 24px;
  color: var(--dark-secondary);
}

.btn {
  font-size: 13px;
  line-height: 1.4;
  color: var(--medium-primary);
  padding-bottom: 1px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 64px;
    padding-bottom: 60px;
  }

  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
  }

  .item {
    width: calc((100% - 28px) / 2);
  }

  .number {
    width: 74px;
    height: 74px;

    font-size: 28px;
  }

  .name {
    font-size: 20px;
  }

  .percenegeWrapper {
    gap: 28px;
  }

  .percentage {
    font-size: 36px;
  }

  .btn {
    padding-bottom: 3px;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    justify-content: center;
  }

  .item {
    width: calc((100% - 56px) / 3);
  }
}
