.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 20px;
}

.registerLink {
  margin-top: 14px;

  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(var(--dark-primary-rgb), 0.4);
}

@media screen and (max-width: 767px) {
  .inputsWrapper {
    height: 206px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 323px;
  }

  .inputsWrapper {
    gap: 14px;

    margin-bottom: 62px;
  }

  .registerLink {
    max-width: 323px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    margin-left: 150px;
  }
}
