.main {
  padding-top: 121px;
  padding-bottom: 80px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;

  margin-bottom: 40px;
}

.list {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.thumb {
  border: 1.15px solid rgba(var(--accent-primary-rgb), 0.6);
  border-radius: 20px;

  max-width: 335px;
  height: 300px;

  margin-left: auto;
  margin-right: auto;

  overflow: hidden;

  margin-bottom: 8px;
}

.img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 20px;
}

.info {
  padding: 20px;

  border-radius: 20px;

  background-color: var(--light-secondary);
}

.namePrice {
  display: flex;
  justify-content: space-between;

  margin-bottom: 17px;

  font-weight: 600;
  line-height: 1.4;
}

.suppliers {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(var(--dark-primary-rgb), 0.6);
}

.btnDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  font-size: 12px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 152px;
    padding-bottom: 120px;
  }

  .title {
    margin-bottom: 32px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    max-width: 100%;

    gap: 32px 13px;

    margin-bottom: 80px;
  }

  .item {
    width: calc((100% - 26px) / 3);
  }

  .namePrice {
    margin-bottom: 14px;

    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding-top: 172px;
  }

  .title {
    margin-bottom: 40px;
  }

  .list {
    gap: 40px 21px;
  }

  .item {
    width: calc((100% - 83px) / 4);
  }
}
