.main {
  padding-top: 121px;
  padding-bottom: 80px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;

  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .list {
    margin-top: 80px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 152px;
    padding-bottom: 120px;
  }

  .title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 1439px) {
  .list {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding-top: 172px;
  }

  .title {
    margin-bottom: 40px;
  }

  .pageContent {
    display: flex;
    justify-content: space-between;
  }
}
