.button {
  border-radius: 60px;
  background-color: var(--accent-primary);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--light-secondary);
}

.stroke {
  border-radius: 60px;

  background-color: transparent;
  border: 1px solid rgba(var(--accent-primary-rgb), 0.5);

  font-size: 14px;
  line-height: 1;
  color: var(--accent-primary);
}

.button.register,
.button.login {
  width: 100%;
  height: 44px;
}

.stroke.logOut {
  display: none;
}

.stroke.logOutLight {
  display: none;
}

.stroke.logOutLightMob {
  width: 107px;
  height: 40px;

  border: 1px solid rgba(var(--light-quaternary-rgb), 0.5);
  color: var(--light-quaternary);
}

.stroke.registerHeaderLightMob {
  width: 119px;
  height: 40px;

  border: 1px solid rgba(var(--light-quaternary-rgb), 0.5);
  color: var(--light-quaternary);
}

.stroke.addLight {
  width: 144px;
  height: 44px;

  font-weight: 500;
  line-height: 1.29;

  border: 1px solid rgba(var(--light-quaternary-rgb), 0.5);
  color: var(--light-quaternary);
}

.button.addToCart {
  width: 108px;
  height: 34px;

  line-height: 1;
}

.button.addToCartProductPage {
  width: 140px;
  height: 44px;
}

.button.visit {
  width: 102px;
}

.button.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 116px;
  height: 44px;
}

.button.placeOrder {
  width: 141px;
  height: 44px;
}

.button.modalAuth {
  height: 44px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .button.register {
    width: 280px;
  }

  .stroke.addLight {
    width: 190px;
  }
}

@media screen and (min-width: 1440px) {
  .stroke.logOut {
    display: block;
    width: 115px;
  }

  .stroke.logOutLight {
    display: block;
    width: 115px;

    border: 1px solid rgba(var(--light-quaternary-rgb), 0.5);
    color: var(--light-quaternary);
  }

  .stroke.registerHeader {
    width: 119px;
    height: 46px;
  }

  .stroke.registerHeaderLight {
    width: 119px;
    height: 46px;

    border: 1px solid rgba(var(--light-quaternary-rgb), 0.5);
    color: var(--light-quaternary);
  }
}
