.button {
  border-radius: 60px;
  background-color: var(--accent-primary);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--light-secondary);
}

.button.register,
.button.login {
  width: 100%;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .button.register {
    width: 280px;
  }
}
